@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Exo 2', sans-serif;
}

body{
    background-color: skyblue;
    text-align: center;
}

h1{
    padding: 50px;
    font-size: 3em;
    color: white;
}

i{
    font-size: 1.8em;
    font-weight: bolder;
    color: #ffffff;
    padding-top: 20px;
    padding-inline: 5px;
}

div.container{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    padding-top: 10px;
    max-width: 450px;
    height: 170px;
    border-radius: 50px;
}

div.box{
    background-color: #ffffff36;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div.btn-convert{
    margin: 10px auto 50px auto;
    width: 210px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

label{
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

input.type{
    display: flex;
    padding: 5x;
    margin: 10px;
    width: 150px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid #d2d2d2;
    text-align: center;
    font-size: 1.em;
    box-shadow: 0 0 0 0;
    outline: 0;
}



input.btn{
    padding: 5x;
    margin: 10px 0px;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 2px solid #ffffff0c;
    color: #ffffff;
    background-color: #ffffff36;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

input.btn:hover{
    background-color: rgba(255, 255, 255, 0.329);
    transition: 0.7s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}







