@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(131deg, rgba(2,0,36,1) 0%, rgba(9,121,57,1) 50%, rgba(60,125,143,1) 100%);
    height: 100vh;
    color: white;
}

h1{
    text-align: center;
    padding: 20px;
    margin-top: 80px;
}

section.container{
    background-color: rgba(255, 255, 255, 0.208);
    max-width: 500px;
    height: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}



div.input-box{
    display: flex;
    flex-direction: column;
}

div.space-box{
    padding: 25px;
}

label{
    padding: 10px;
    font-weight: 600;
}

input{
    padding: 5px;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    border: 2px solid rgb(233, 233, 233);
    background-color: rgba(255, 255, 255, 0.116);
    color: white;
    font-size: 18px;
}

input.left{
    margin-left: 10px;
}

span{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}

button{
    
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    border: 2px solid rgb(233, 233, 233);
    background-color: rgba(255, 255, 255, 0.116);
    color: white;
    cursor: pointer;
    font-size: 15px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}